* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 29, 66);
}

.container {
  width: 815px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width:600px)
{
  .container
  {
    flex-direction: column;
  }
}