.right 
{
  display: flex;
  width: 400px;
  height: 100%;
  flex-direction: column;
  margin-bottom: 5px;
}
.right-top
{
  background-color: #043175;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.right-top-text
{
  width: 345px;
  color: whitesmoke;
  padding: 15px;
  margin: 15px auto;
  font-weight: 600;
  line-height: 1.6;
}
.right-top-text img
{
  width: 18px;
  height: 18px;
}
.right-top-svg
{
  display: flex;
  position: relative;
  margin: 25px auto;
  overflow: hidden;
}
#movingImage {
  /* position: absolute; */
  transition: transform 1s ease-in-out;
  justify-content: center;
  align-items: center;
}

.scroller
{
  margin-top: 5px;
  border-radius: 30px;
  padding: 1rem;
  max-width: 400px;
  background-color: #043175;
  padding-block: 1rem;
  overflow: hidden;
  font-size: 20px;
}
.scroller__inner
{
  display: flex;
  gap: 1.2rem;
  
}
.tag-list
{
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag-list li
{
  max-width: 235px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  background-color: rgb(64, 89, 230);
  border-radius: 0.5rem;
  /* box-shadow: 0 0.5rem 1rem -0.25rem gray; */
  
}
.one
{
  color: whitesmoke;
}
.two
{
  font-size: 0.8rem;
  font-weight: bold;
  background-color: aliceblue;
  padding: 0 0.2rem;
  border-radius: 20px;
}


.right-bottom
{
  height: 60px;
  background-color: #043175;
  border-radius: 30px;
  display: flex;
  justify-content:left;
  align-items: center;
  gap: 2rem;
  margin-top: 5px ;
  margin-bottom: 5px;
  padding: 15px 20px;
}
.right-bottom::after
{
  content: '';
  width: 80px;
  height: 8px;
  background-color: aquamarine;
  margin-left: 6rem;
  border-radius: 20px;
}
a
{
  text-decoration: none;
  color: whitesmoke;
}