.right 
{
  display: flex;
  width: 400px;
  height: 100%;
  flex-direction: column;
  margin-bottom: 5px;
}
.right-top
{
  background-color: #043175;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.right-top-text
{
  width: 345px;
  color: whitesmoke;
  padding: 15px;
  margin: 15px auto;
  font-weight: 600;
  line-height: 1.6;
}
.right-top-text img
{
  width: 18px;
  height: 18px;
}
.right-top-svg
{
  display: flex;
  position: relative;
  margin: 25px auto;
  overflow: hidden;
}
#movingImage {
  /* position: absolute; */
  transition: transform 1s ease-in-out;
  justify-content: center;
  align-items: center;
}

.works
{
  background-color: #043175;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 10px; */
  margin-top: 5px;
  height: 60px;
}
.works ul
{
    padding: 25px;
}
.works li
{
  list-style: none;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

.right-bottom
{
  height: 60px;
  background-color: #043175;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  margin-top: 5px;
  padding: 15px;
}